{% extends 'base.html' %}
{% block title %}Donations Management{% endblock title %}
{% load crispy_forms_tags %}


{% block content %}
    <form class="form" method="post" style=" overflow-y: auto;">{% csrf_token %}
        <div class="form" style="float: right; width:35%; overflow: auto;
            height:100%;
            position: fixed;
            top: 10%;
            left: 40%;
            margin-top: -100px;
            margin-left: -100px; ">
           {{ form|crispy }}
            <div>
                {% for formset in inlines %}
                    {{ formset|crispy }}
                {% endfor %}
                <div class="btn-group" role="group" aria-label="Basic example" style="position: sticky; top:0;">
                    <button type="submit" class="btn btn-info" style="margin-right:5%; align: center;">Save</button>
                    <a href="{%url 'home'%}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
