{% extends "Home.html" %}
{% load static %}
{% block content %}
   <head>
       <meta charset="UTF-8">
    <title>NGO Donations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
       <link rel="stylesheet" href="{% static 'user_table.css' %}" type="text/css">
   </head>
   <section>
    <h1 style="text-align: center; margin-bottom:20px; "> User Management </h1>
        <table class="user_table table-bordered" width=60%; style="float: right; margin-top:5%;">
        <thead> <div style ="width:15%; float: right; margin-bottom:10px;" >
                <a href = "{% url 'users:Create_User'%}" class="btn btn-info " style="margin-left:10%">Add User </a>

        <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
   </head>
   <section >
    <h1 style="text-align: center; margin-bottom:20px; "> User Management </h1>
        <table class="user_table table-bordered" width=60%; style="float: right; margin-top:5%;">
        <thead> <div style ="width:15%; float: right; margin-bottom:10px;" >
                <a href = "{% url 'users:Create_User'%}" class="btn btn-info " style="margin-right:20%">Add User </a>

               </div>
        </thead>

        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Admin </th>
            <th> Update </th>
            <th> Delete </th>
        </tr>
        {% for users in users_list %}
        <tr>
            <td>{{users.first_name}}</td>
            <td>{{users.last_name}}</td>
            <td>{{users.email}}</td>
            {% if users.is_staff == True %}
                <td>
                    <span class="badge rounded-pill bg-primary">Yes</span>
                </td>
            {%else %}
                <td>
                    <span class="badge rounded-pill bg-secondary">No</span>
                </td>
            {% endif%}
            <td> <a href = "{% url 'users:Update_User' users.user_id   %}" class="btn btn-info" role="button"> Edit </a> </td>
            <td> <a href = "{% url 'users:Delete_User' users.user_id   %}"class="btn btn-danger" role="button"> Delete </a> </td>
        </tr>
       {% endfor %}

        </table>

    </section>



{% endblock %}
