{% extends "base.html" %}
{% load static %}
<!-- Todo: Make this prettier. update user_table to match homepage -->
{% block content %}
   <head>
       <link rel="stylesheet" href="{% static 'user_table.css' %}" type="text/css">
   </head>
   <section>
    <h1 style="text-align: center "> User Management </h1>

        <table class="user_table table-bordered" width="90%" >
        <thead> <div style ="width:15%; float: right; margin-bottom:10px;" >
                <a href = "{% url 'users:Create_User'%}" class="btn btn-info ">Add User </a>
               </div>
        </thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Role </th>
            <th> Update </th>
            <th> Delete </th>
        </tr>
        {% for users in users_list %}
        <tr>
            <td>{{users.first_name}}</td>
            <td>{{users.last_name}}</td>
            <td>{{users.email}}</td>
            {% if users.is_staff == True %}
                <td>Admin</td>
            {%else %}
                <td>User</td>

            {% endif%}
            <td> <a href = "{% url 'users:Update_User' users.id   %}" class="btn btn-info" role="button"> Edit </a> </td>
            <td> <a href = "{% url 'users:Delete_User' users.id   %}"class="btn btn-danger" role="button"> Delete </a> </td>

        </tr>
       {% endfor %}

        </table>

    </section>



{% endblock %}