{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create Product{% endblock title %}



{% block content %}
    <form class="form" method="post" action="{% url 'donations:create_charity' %}">{% csrf_token %}
        <div class="form">
            <div>
                {{ form|crispy }}
            </div>
            <div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-info">Create</button>
                    <a href="{%url 'users:All_Users'%}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}
