{% extends 'Home.html' %}
{% block title %}Donations Management{% endblock title %}
{% load static %}
{% block content %}
<head>
</head>
   <section style="float: right; width:60%;
            height:200px;
            position: fixed;
            top: 20%;
            left: 30%;
            margin-top: -100px;
            margin-left: -100px;">
    <h1 style="text-align: center; margin-bottom:20px; " > Charities </h1>
        <table class="user_table table-bordered" width="90%">
        {% if request.get_full_path == '/donations/charities/'%}
            {% if user.is_authenticated %}
                <thead> <div style ="width:15%; float: right; margin-bottom:10px;" >
                        <a href = "{% url 'donations:create_charity'%}" class="btn btn-info ">Add</a>
                   </div>
                </thead>
            {% endif %}
        {% endif %}
        <tr>
            <th> Name </th>
            <th> Donations Made </th>
            <th> Raised Money </th>
            <th> Active </th>
            <th> Donate </th>
        </tr>
        {% for charity in charities %}
            <tr>
                <td>{{ charity.name }}</td>
                <td>{{ charity.donations.all|length}}</td>
                <td>$ {{ charity.raised }}</td>

                <td>
                    {% if charity.active == True %}
                        <span class="badge rounded-pill bg-primary">Yes</span>
                    {%else %}
                        <span class="badge rounded-pill bg-secondary">No</span>
                    {% endif%}
                </td>
                <td>
                {% if request.get_full_path == '/donations/charities/'%}
                    <a class="btn btn-success" href="{% url 'donations:create'%}">Edit</a>
                {% else%}
                    <a class="btn btn-success" href="{% url 'donations:create'%}">Donate</a>
                {% endif %}
                </td>
            </tr>
       {% endfor %}

        </table>


    </section>
{% endblock content %}
