{% extends 'base.html' %}
{% block title %}Donations Management{% endblock title %}


{% block content %}
   <section>
    <h1 style="text-align: center "> Charities </h1>
        <table class="user_table table-bordered" width="90%" >
        {% if request.get_full_path == '/donations/charities/'%}
            {% if user.is_authenticated %}
                <thead> <div style ="width:15%; float: right; margin-bottom:10px;" >
                        <a href = "{% url 'donations:create'%}" class="btn btn-info ">Add</a>
                   </div>
                </thead>
            {% endif %}
        {% endif %}
        <tr>
            <th> Name </th>
            <th> Donations Made </th>
            <th> Raised Money </th>
            <th> Active </th>
            <th> Donate </th>
        </tr>
        {% for charity in charities %}
            <tr>
                <td>{{ charity.name }}</td>
                <td>{{ charity.donations.all|length}}</td>
                <td>$ {{ charity.raised }}</td>

                <td>
                    {% if charity.active == True %}
                        <span class="badge rounded-pill bg-primary">yes</span>
                    {%else %}
                        <span class="badge rounded-pill bg-danger">no</span>
                    {% endif%}
                </td>
                <td>
                {% if request.get_full_path == '/donations/charities/'%}
                    <a class="btn btn-success" href="{% url 'donations:create'%}">Edit</a>
                {% else%}
                    <a class="btn btn-success" href="{% url 'donations:create'%}">Donate</a>
                {% endif %}
                </td>
            </tr>
       {% endfor %}

        </table>


    </section>
{% endblock content %}
