<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NGO Donations</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
</head>
<body>
      <div class="top_nav">
        <a class = "" href = " ">NGO</a>
        <a href="#Login"> Sign In</a>
    </div>
    <div class="dashboard">
        <div class="left_nav">
            <ul>
                <li>Users</li>
                <li>Donations</li>
                <li>My profile</li>
            </ul>
        </div>
        <div class="block">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>
