/*             Navigation menu style            */

/* navigation menu's background-color */
.top_nav{
   background-color:#333;
   overflow: hidden;
   width: 100%;
   height: 50px;
}

/* Navigation bar link style */
.top_nav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

 /* change the color of the link on mouse-over*/
.top_nav a: hover{
    background-color: #ddd;
    color: black;
}

/* change the color of the current active link in nav bar*/
.top_nav a.active{
    background-color: #4CAF50;
    color: white;
}

.top_nav_right{
    float: right;

}

.top_nav_centered a {
     float = none;
     position: absolute;
     top: 4%;
     left: 50%;
     transform: translate(-50%, -50%);

}


/* Adjust nav bar size to fit smaller screens */
/* This will only display the home link */
@media screen and (max-width: 500px){
.top_nav a{
     float: none;
     display:block;
     }

.top_nav_centered a {
     position: relative;
     top:0;
     left:0;
     transform:none;

     }
}

/*    End of Navigation menu style   */