/* Global styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;


}

a{
    text-decoration: none;
}

.btn, .btn-group{
    width: 100%;
}
.btn-group{
    padding: 1rem 0;
}

/* Top navbar styles */
.top_nav{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;


}

/* Top navbar children styles */
.top_nav > * {
    margin: 1rem;
}

/* Dashboard styles */
.dashboard{
    display: flex;
    width: 100vw;
    height: 100vh;


}

.dashboard .left_nav{
    width: 20rem;


}

.dashboard .block{
    width: 100%;
    display: flex;
    justify-content: center;


}

 /*table style */
.user_table {
    border-spacing: 5px;



}

/* table text center*/
tr>*{
    text-align: center;


}

/* table heading style */
th {
    text-align:left;
    padding: 15px;


}

/* table content style */
td{
   text-align: left;
   padding: 15px;



}

/* Donations styles */
form.form{
    display: flex;
    flex-direction: column;
    width: 100%;


}

form.form .form{
    display: flex;
    justify-content: center;


}

form.form .form > *{
    margin: 0 1rem;
}

form.form .form .btn{
    margin: 1rem 0;
    width: 100%;


}

/* Login styles */
.login{
    width: 30rem;


}


/* Bootstrap styles */
.accordion-body{
    padding: 0;


}

.list-group{
    border-radius: 0;


}

.list-group{
    border-bottom: 1px solid rgba(0,0,0,.125);


}

.list-group-item:last-child{
    border-bottom: initial;


}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* end of top */

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
 width: 12%;
 background-color: #f1f1f1;
}

/* Main column - this column contains the main content */
.main {
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* The sidebar menu */
.sidenav {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 25px;
  color: #F0FFFF;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #D8D8D8;
}

/* End of Side nav */

/* Accordian */
input {
    display: none;
}

label {
    display: block;
    padding: 8px 22px;
    position: fixed;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #F0FFFF;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
}

label:hover {
    background: red;
}

.content {
    background: #F0FFFF;
    width: 12%;
    padding: 10px 20px;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

/* Responsive layout - This adjusts the view in smaller screens  */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - This adjusts the view in smaller screens */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/*-------------------- templates design  ---------------------*/


/*  user table*/
 /*table style */
.user_table {
    border-spacing: 5px;
}

/* table heading style */
th {
    text-align:left;
    padding: 15px;

}

/* table content style */
td{
   text-align: left;
   padding: 15px;
}

tr>*{
    text-align: center;
}
