/* Global styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;


}

a{
    text-decoration: none;


}

/* Top navbar styles */
.top_nav{
    display: flex;
    justify-content: flex-end;


}

/* Top navbar children styles */
.top_nav > * {
    margin: 1rem;


}

/* Dashboard styles */
.dashboard{
    display: flex;
    width: 100vw;
    height: 100vh;


}

.dashboard .left_nav{
    width: 20rem;


}

.dashboard .block{
    width: 100%;
    height: 100%;
    /* padding: 0 5%; */
    display: flex;
    justify-content: center;


}

 /*table style */
.user_table {
    border-spacing: 5px;



}

/* table text center*/
tr>*{
    text-align: center;


}

/* table heading style */
th {
    text-align:left;
    padding: 15px;


}

/* table content style */
td{
   text-align: left;
   padding: 15px;



}
/* Login styles */
.login{
    width: 30rem;
}

/* Bootstrap styles */
.accordion-body{
    padding: 0;
}
