 /*table style */
.user_table {
    border-spacing: 5px;
}

/* table heading style */
th {
    text-align:left;
    padding: 15px;

}

/* table content style */
td{
   text-align: left;
   padding: 15px;
}

tr>*{
    text-align: center;
}
