{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login  {% endblock %}

{% block content %}
<div style="float: right; width:35%;
            height:200px;
            position: fixed;
            top: 30%;
            left: 40%;
            margin-top: -100px;
            margin-left: -100px; ">
<div class="login" style="margin:20px; " >
    <h1 style="margin-bottom: 25px; text-align:center">Login</h1>
    <form action="{% url 'login' %}" method="post" style="margin-bottom: 25px;">
        {%csrf_token%}
        {{form|crispy}}
        <button style="margin-top: 25px;"type="submit" class="btn btn-success">Login</button>
    </form>

    <p>Don't haven an account? Register <a a href="{%url 'users:Register_User'%}">here</a></p>
</div>
</div>
{% endblock %}

