{% extends 'base.html' %}
{% block title %}Create Product{% endblock title %}
{% block content %}
<div style="float: right; width:35%;
            height:200px;
            position: fixed;
            top: 30%;
            left: 40%;
            margin-top: -90px;
            margin-left: -100px; ">
<h4 >Proceed to checkout?</h4>
    <a href="{% url 'donations:list' %}" class="btn btn-info" style="margin-left: 4%;margin-right: 2%;">Payment</a>
    <a  href = "{% url 'home'%} "  class="btn btn-danger" >Cancel</a>
{% endblock %}

</div>
