<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <title>Order Summary</title>
</head>
<body>
    <h1>{% trans "Your donation cart" %} </h1>
    <table class="cart">
        <thead>
            <tr>
                <th>{% trans "Item Description" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>           
                <th>{% trans "Total" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with donation=item.donation %}
            <tr>
                <td>{{ donation.charity }}</td>
                <td>
                    <form action="{% url "cart:cart_add" donation.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}
                        <input type="submit" value="{% trans "Update" %}">
                        {% csrf_token %}
                    </form>
                </td>
                <td><a href="{% url "cart:cart_remove" donation.id %}">{% trans "Remove" %}</a></td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        
        
        <tr class="total">
            <td>{% trans "Total" %}</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price|floatformat:"2" }}</td>
        </tr>
        
        
        </tbody>
        
    </table>
    
    

</body>
</html>